@media (min-width: 640px) {
    .blog-list-container {
        grid-template-columns: auto auto;
        margin-bottom: 20px;
    }

    .blog-preview {
        max-width: 300px;
        min-height: 455px;
    }

    .blog-list-image {
        width: 300px;
        height: 200px;
    }

    .blog-preview h2 {
        font-size: 1.2rem;
        min-height: 46px;
    }
    
    .blog-preveiw-text {
        font-size: 0.9rem;
    }
    
    .authoranddate p,
    .blog-preveiw-link {
        font-size: 0.8rem;
    }
}