:root {
    --vehicleTalk-blue: #2c3140;
    --vehicleTalk-lightBlue: #424a59;
    --vehicleTalk-red: #bf1523;
    --vehicleTalk-lightRed: #f26666;
    --vehicleTalk-grey: #454544;
    --vehicleTalk-lightGrey: #c2c1c0;
    --vehicleTalk-white: #f6f6f6;
  }